<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header__body">
        <a [routerLink]="['/']" class="header__logo">
          <img src="assets/images/logopage.png" alt="logopage">
        </a>
        <div class="header__burger">
          <span></span>
        </div>
        <nav class="header__menu">
          <ul class="header__list">
            <li>
              <a [routerLink]="['/']" class="header__link"><span>01.</span>Обо мне</a>
            </li>
            <li>
              <a [routerLink]="['/services']" class="header__link"><span>02.</span>Услуги</a>
            </li>
            <li>
              <a [routerLink]="['/portfolio']" class="header__link"><span>03.</span>Портфолио</a>
            </li>
            <li>
              <a [routerLink]="['/books']" class="header__link"><span>04.</span>Фотокниги</a>
            </li>
            <li>
              <a href="blog" class="header__link"><span>05.</span>Блог</a>
            </li>
            <li>
              <a href="comments" class="header__link"><span>06.</span>Отзывы</a>
            </li>
            <li>
              <a href="projects" class="header__link"><span>07.</span>Проекты</a>
            </li>
            <li>
              <a href="contacts" class="header__link"><span>08.</span>Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>
