<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="rec__title">Важно знать!</p>
    </div>
    <div class="col-md-12">
      <ul class="rec__reason">
        <li class="rec__reason__res"> Подбор одежды для фотосесии – это 50% успеха.</li>
        <li class="rec__reason__res"> Исходники являются рабочим материалом фотографа и клиенту не отдаются.</li>
        <li class="rec__reason__res"> Оплата производится в день съёмки сразу после фотосессии в размере 100%.</li>
        <li class="rec__reason__res"> При желании Вы можете сами отобрать фотографии для обработки фотографом
          (сообщите, пожалуйста, об этом намерении в день съёмки).</li>
        <li class="rec__reason__res"> Доставка результатов съёмки осуществляется лично либо курьером.</li>
        <li class="rec__reason__res"> Ваше согласие на съёмку означает, что Вы ознакомлены с моим портфолио,
          стилем фотосессий и авторской обработкой. </li>
        <li class="rec__reason__res"> Если съёмка проходит за городом, заказчик привозит/отвозит фотографа,
          либо дополнительно оплачивает дорогу.</li>
      </ul>
    </div>

    <div class="col-md-12">
      <p class="rec__subtitle">Дополнительные услуги:</p>
    </div>
    <div class="col-md-12">
      <ul class="rec__add">
        <li class="rec__add__res"> к любому пакету услуг можно дополнительно заказать фотокнигу или холст
          (Ваши фотографии хранятся у фотографа 6 месяцев), в пакетах «Стандарт» и «Премиум» возможно
          корректирование размера альбома по Вашему желанию;</li>
        <li class="rec__add__res"> стоимость ретуши каждой фотографии, не входящей в выбранный пакет, - 7 бел.руб. за 1 шт</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <p class="rec__title__services">Пакеты услуг</p>
  </div>
</div>

<!--Slider-->

<div class="container">
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let item of slideItems; let i = index"
           class="{{ item.carouselClass }}"
           [ngClass]="{ 'active': i === 0 }"
           [attr.data-interval]="item.dataInterval"
      >
        <img [src]="item.imageAddress" class="{{ item.imgAtrClass }}" alt="...">
        <h1 class="{{ item.captionClass }}">{{ item.captionContent }}</h1>
        <a class="{{ item.bathBtnClass }}" href="#" data-toggle="modal" [attr.data-target]="item.dataTarget">подробнее</a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>
</div>
<app-modals></app-modals>
