<app-sprites></app-sprites>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="footer-title">
          <a class="footer-address" href="mailto:v.a.pashkevich@mail.ru">
            E-mail: v.a.pashkevich@mail.ru
          </a>
        </h5>
      </div>
      <div class="col-md-12 footer-subtitle">
        <a class="footer-number" href="tel:+375(29)1124156">
          Телефон: +375 (29) 112 41 56
        </a>
      </div>
    </div>
  </div>
  <div class="footer-down">
    <div class="container">
      <div class="col-md-12 footer-item-down">
        Copyright © 2020. ChadoFoto. All Rights Reserved. Made
        by <a class="container-author" href="mailto:v.a.pashkevich@mail.ru">Filipp Pashkevich</a>
      </div>
    </div>
  </div>
</footer>
